/* reset
---------------------------------------------------------------------------- */
html, body, h1, h2, h3, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/* page styleing
---------------------------------------------------------------------------- */
html, body {
  scroll-behavior: smooth;
}

body {
  font-family: serif;
}

body * {
  box-sizing: border-box;
}

@media screen {
  body {
    background-color: #eee;
  }
}

header {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  background-color: #fff;
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: sans-serif;
}

@media print {
  header {
    display: none;
  }
}

header .title h1 {
  font-size: 24px;
  padding: 0;
}

@media screen and (max-width: 200mm) {
  header .title h1 {
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  header .title h1 {
    display: block;
    font-size: 24px;
  }
}

header .title p {
  font-size: 10px;
}

@media screen and (max-width: 200mm) {
  header .title p {
    display: none;
  }
}

header .menu-button {
  justify-self: right;
  width: 40px;
  height: 40px;
  display: none;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: relative;
}

header .menu-button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  width: 24px;
  height: 4px;
  background-color: #333;
  transition: 0.4s;
  top: -12px;
}

header .menu-button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  width: 24px;
  height: 4px;
  background-color: #333;
  transition: 0.4s;
  top: 12px;
}

@media screen and (max-width: 600px) {
  header .menu-button {
    display: block;
  }
}

header #is-menu-show {
  display: none;
}

@media screen and (max-width: 600px) {
  header #is-menu-show:checked + .menu-button::before {
    top: 0;
    transform: rotate(45deg);
  }
  header #is-menu-show:checked + .menu-button::after {
    top: 0;
    transform: rotate(-45deg);
  }
  header #is-menu-show:checked ~ .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4px;
    grid-auto-flow: row;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

header .menu {
  display: grid;
  grid: 1fr / auto-flow;
  column-gap: 10px;
  justify-self: end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  header .menu {
    display: none;
  }
}

header .menu .editing-switch {
  width: 40px;
  height: 40px;
}

header .menu .editing-switch input {
  display: none;
}

header .menu .editing-switch input:checked + label {
  background-color: #4bd865;
}

header .menu .editing-switch input:checked + label::before {
  content: 'edit';
}

header .menu .editing-switch input:checked + label::after {
  left: 22px;
}

header .menu .editing-switch label {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  position: relative;
  top: 20px;
  display: inline-block;
  border-radius: 20px;
  transition: 0.4s;
  box-sizing: border-box;
  text-align: center;
}

header .menu .editing-switch label::before {
  content: 'done';
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  font-size: 14px;
  text-align: center;
}

header .menu .editing-switch label::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  cursor: pointer;
}

header .menu .select-papersize {
  grid-column: 2 / 4;
  width: 90px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

header .menu .select-papersize option {
  height: 40px;
  padding: 0;
  margin: 0;
}

header .menu > label {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #767676;
  background-color: #EFEFEF;
}

header .menu > label img {
  width: 24px;
  height: 24px;
}

header .menu > label img {
  margin: 7px;
}

header .menu > label input {
  display: none;
}

header .menu button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #767676;
  background-color: #EFEFEF;
}

header .menu button img {
  width: 24px;
  height: 24px;
}

main {
  width: 100%;
  margin: 0 auto;
  font-size: 11pt;
}

main .resume {
  width: 364mm;
  margin: 60px auto 10px;
  display: grid;
  grid-template-columns: repeat(2, 182mm);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media print {
  main .resume {
    margin: 0;
    border: none;
  }
}

@media screen and (max-width: 200mm) {
  main .resume {
    width: 182mm;
    grid-template-columns: 182mm;
  }
}

@media screen and (max-width: 182mm) {
  main .resume {
    transform: translate(-17mm, 0);
  }
}

main .resume .page {
  width: 182mm;
  height: 257mm;
  padding: 14mm 17mm;
}

main .resume .page .input-field {
  overflow: hidden;
}

main .resume .page .input-field br {
  white-space: nowrap;
  display: none;
}

main .resume .page .input-field.multiple-lines {
  line-height: 1.4em;
}

main .resume .page .input-field.multiple-lines br {
  white-space: normal;
  display: inline;
}

main .resume .left-page {
  position: relative;
}

main .resume .left-page .resume-header {
  width: 148mm;
  height: 7.3mm;
  margin-top: 1mm;
  display: grid;
  grid-template-columns: 35mm 78mm 35mm;
  align-items: center;
}

main .resume .left-page .resume-header h2 {
  font-size: 17pt;
  text-align: left;
  padding: 0 2mm;
}

main .resume .left-page .resume-header .creataion-date {
  padding: 1mm;
  display: grid;
  grid-template-columns: 13mm 3mm 5.5mm 3mm 5.5mm 9mm;
  justify-self: end;
  align-self: flex-end;
}

main .resume .left-page .resume-header .creataion-date p {
  font-size: 8pt;
}

main .resume .left-page .resume-header .creataion-date p.label {
  text-align: center;
}

main .resume .left-page .resume-header .creataion-date p.input-field {
  text-align: right;
}

main .resume .left-page .id-photo {
  width: 28mm;
  height: 35.5mm;
  padding: 8pt;
  position: absolute;
  top: 14mm;
  right: 21mm;
  border: 0.37mm solid #000;
  text-align: center;
}

main .resume .left-page .id-photo p {
  font-size: 8pt;
  text-align: center;
  line-height: 8pt;
  margin-bottom: 8pt;
}

main .resume .left-page .id-photo label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main .resume .left-page .id-photo label input {
  display: none;
}

main .resume .left-page .id-photo label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .resume .left-page .id-photo label img[src=""] {
  display: none;
}

main .resume .left-page .id-photo #contextmenu {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 30px;
  border: 1px solid #333;
  box-shadow: 1px 1px 3px #333;
  background-color: #fff;
}

main .resume .left-page .id-photo #contextmenu.show {
  display: block;
}

@media print {
  main .resume .left-page .id-photo #contextmenu.show {
    display: none;
  }
}

main .resume .left-page .id-photo #contextmenu li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

main .resume .left-page .id-photo #contextmenu li:hover {
  background-color: #9aa;
}

main .resume .left-page .personal-data p.label {
  text-align: left;
  align-self: center;
  padding: 0 1mm;
}

main .resume .left-page .personal-data p.input-field {
  align-self: center;
  padding: 0 1mm;
}

main .resume .left-page .personal-data .basic-data {
  display: grid;
  grid-template-columns: 94mm 19mm 35mm;
  grid-template-rows: 7.3mm 15mm 7.3mm;
}

main .resume .left-page .personal-data .basic-data .name-furigana {
  height: 7.3mm;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 15mm 78mm;
  border-top: 1mm solid #000;
  border-right: 0.37mm solid #000;
  border-bottom: 0.37mm solid #000;
  border-left: 1mm solid #000;
}

main .resume .left-page .personal-data .basic-data .name-furigana p.label {
  grid-column: 1 / 2;
  font-size: 9pt;
}

main .resume .left-page .personal-data .basic-data .name-furigana p.input-field {
  grid-column: 2 / 3;
  font-size: 9pt;
}

main .resume .left-page .personal-data .basic-data .name {
  height: 15mm;
  line-height: 15mm;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 15mm 78mm;
  border-right: 0.37mm solid #000;
  border-bottom: 0.37mm solid #000;
  border-left: 1mm solid #000;
}

main .resume .left-page .personal-data .basic-data .name p.label {
  grid-column: 1 / 2;
}

main .resume .left-page .personal-data .basic-data .name p.input-field {
  grid-column: 2 / 3;
  text-align: center;
  font-size: 17pt;
}

main .resume .left-page .personal-data .basic-data .gender {
  height: 22.3mm;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  border-top: 1mm solid #000;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}

main .resume .left-page .personal-data .basic-data .gender p {
  text-align: center;
}

main .resume .left-page .personal-data .basic-data .birthday {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
  border-left: 1mm solid #000;
  display: grid;
  grid-template-columns: 19mm 26mm 5mm 9mm 5mm 9mm 18mm 10mm 10mm;
  align-items: center;
}

main .resume .left-page .personal-data .basic-data .birthday p.input-field {
  text-align: right;
}

main .resume .left-page .personal-data .contact-info,
main .resume .left-page .personal-data .emergency-contact {
  width: 148mm;
  display: grid;
  grid-template-columns: 19mm 92.5mm 35.7mm;
  grid-template-rows: 7.3mm 6mm 9mm;
  border-left: 1mm solid #000;
}

main .resume .left-page .personal-data .contact-info .resides-furigana,
main .resume .left-page .personal-data .emergency-contact .resides-furigana {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  border-right: 0.37mm solid #000;
  border-bottom: 0.37mm solid #000;
  display: grid;
  grid-template-columns: 18mm 92mm;
  font-size: 9pt;
}

main .resume .left-page .personal-data .contact-info .postal-code,
main .resume .left-page .personal-data .emergency-contact .postal-code {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  border-right: 0.37mm solid #000;
  display: grid;
  grid-template-columns: 18mm 9mm 12mm 5mm 16mm 5mm;
}

main .resume .left-page .personal-data .contact-info .postal-code p.input-field,
main .resume .left-page .personal-data .emergency-contact .postal-code p.input-field {
  text-align: center;
}

main .resume .left-page .personal-data .contact-info .resides,
main .resume .left-page .personal-data .emergency-contact .resides {
  height: 9mm;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  font-size: 11pt;
  border-right: 0.37mm solid #000;
  border-bottom: 0.37mm solid #000;
  align-self: center;
}

main .resume .left-page .personal-data .contact-info .resides p.input-field,
main .resume .left-page .personal-data .emergency-contact .resides p.input-field {
  line-height: 9mm;
}

main .resume .left-page .personal-data .contact-info .phone-number,
main .resume .left-page .personal-data .emergency-contact .phone-number {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  border-top: 1mm solid #000;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
  display: grid;
  grid-template-columns: 9mm 25mm;
}

main .resume .left-page .personal-data .contact-info .phone-number p.label,
main .resume .left-page .personal-data .emergency-contact .phone-number p.label {
  font-size: 9pt;
}

main .resume .left-page .personal-data .contact-info .phone-number p.input-field,
main .resume .left-page .personal-data .emergency-contact .phone-number p.input-field {
  font-size: 8pt;
}

main .resume .left-page .personal-data .contact-info .e-mail,
main .resume .left-page .personal-data .emergency-contact .e-mail {
  height: 15mm;
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 35mm;
  grid-template-rows: 6mm 9mm;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
}

main .resume .left-page .personal-data .contact-info .e-mail p.label,
main .resume .left-page .personal-data .emergency-contact .e-mail p.label {
  font-size: 9pt;
}

main .resume .left-page .personal-data .contact-info .e-mail p.input-field,
main .resume .left-page .personal-data .emergency-contact .e-mail p.input-field {
  text-align: center;
  font-size: 9pt;
  height: 9mm;
  line-height: 1.5em;
}

main .resume .left-page .personal-data .emergency-contact .phone-number {
  border-top: none;
}

main .resume .left-page .personal-data .emergency-contact .e-mail {
  border-bottom: 1mm solid #000;
}

main .resume .left-page .personal-data .emergency-contact .resides {
  border-bottom: 1mm solid #000;
}

main .resume .left-page .education-and-career-history .resume-line {
  width: 148mm;
  height: 7.3mm;
  display: grid;
  grid-template-columns: 22.5mm 12.5mm 111mm;
  text-align: center;
  border-left: 1mm solid #000;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
}

main .resume .left-page .education-and-career-history .resume-line:first-of-type {
  border-bottom: 1mm double #000;
}

main .resume .left-page .education-and-career-history .resume-line:first-of-type p:last-of-type {
  text-align: center;
}

main .resume .left-page .education-and-career-history .resume-line:last-of-type {
  border-bottom: 1mm solid #000;
}

main .resume .left-page .education-and-career-history .resume-line p {
  line-height: 7.3mm;
  padding: 0 1mm;
  border-right: 0.37mm solid #000;
}

main .resume .left-page .education-and-career-history .resume-line p:last-of-type {
  text-align: left;
  padding: 0 2mm;
  border-right: none;
}

main .resume .left-page .education-and-career-history .resume-line p[data-text-align="left"] {
  text-align: left;
}

main .resume .left-page .education-and-career-history .resume-line p[data-text-align="right"] {
  text-align: right;
}

main .resume .left-page .education-and-career-history .resume-line p[data-text-align="center"] {
  text-align: center;
}

@media screen and (max-width: 200mm) {
  main .resume .right-page {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
}

@media print {
  main .resume .right-page {
    border: none;
  }
}

main .resume .right-page .education-and-career-history {
  margin-top: 8.3mm;
}

main .resume .right-page .education-and-career-history .resume-line {
  width: 148mm;
  height: 7.3mm;
  display: grid;
  grid-template-columns: 22.5mm 12.5mm 111mm;
  text-align: center;
  border-left: 1mm solid #000;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
}

main .resume .right-page .education-and-career-history .resume-line:first-of-type {
  border-bottom: 1mm double #000;
}

main .resume .right-page .education-and-career-history .resume-line:first-of-type p:last-of-type {
  text-align: center;
}

main .resume .right-page .education-and-career-history .resume-line:last-of-type {
  border-bottom: 1mm solid #000;
}

main .resume .right-page .education-and-career-history .resume-line p {
  line-height: 7.3mm;
  padding: 0 1mm;
  border-right: 0.37mm solid #000;
}

main .resume .right-page .education-and-career-history .resume-line p:last-of-type {
  text-align: left;
  padding: 0 2mm;
  border-right: none;
}

main .resume .right-page .education-and-career-history .resume-line p[data-text-align="left"] {
  text-align: left;
}

main .resume .right-page .education-and-career-history .resume-line p[data-text-align="right"] {
  text-align: right;
}

main .resume .right-page .education-and-career-history .resume-line p[data-text-align="center"] {
  text-align: center;
}

main .resume .right-page .education-and-career-history .resume-line:first-of-type {
  height: 8.3mm;
  border-top: 1mm solid #000;
}

main .resume .right-page .qualifications .qualifications-line {
  width: 148mm;
  height: 7.3mm;
  display: grid;
  grid-template-columns: 22.5mm 12.5mm 111mm;
  text-align: center;
  border-left: 1mm solid #000;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
}

main .resume .right-page .qualifications .qualifications-line:first-of-type {
  border-bottom: 1mm double #000;
}

main .resume .right-page .qualifications .qualifications-line:first-of-type p:last-of-type {
  text-align: center;
}

main .resume .right-page .qualifications .qualifications-line:last-of-type {
  border-bottom: 1mm solid #000;
}

main .resume .right-page .qualifications .qualifications-line p {
  line-height: 7.3mm;
  padding: 0 1mm;
  border-right: 0.37mm solid #000;
}

main .resume .right-page .qualifications .qualifications-line p:last-of-type {
  text-align: left;
  padding: 0 2mm;
  border-right: none;
}

main .resume .right-page .qualifications .qualifications-line p[data-text-align="left"] {
  text-align: left;
}

main .resume .right-page .qualifications .qualifications-line p[data-text-align="right"] {
  text-align: right;
}

main .resume .right-page .qualifications .qualifications-line p[data-text-align="center"] {
  text-align: center;
}

main .resume .right-page .motivation {
  display: grid;
  grid-template-columns: 89mm 29mm 30mm;
  grid-template-rows: repeat(3, 14.6mm);
}

main .resume .right-page .motivation p {
  padding: 1mm;
}

main .resume .right-page .motivation .self-promotion {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  border-right: 0.37mm solid #000;
  border-bottom: 1mm solid #000;
  border-left: 1mm solid #000;
}

main .resume .right-page .motivation .self-promotion p.input-field {
  height: 37mm;
}

main .resume .right-page .motivation .commuting-time {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: 6mm 9mm;
  border-right: 1mm solid #000;
  border-bottom: 0.37mm solid #000;
}

main .resume .right-page .motivation .commuting-time .commuting-time-line {
  text-align: center;
  line-height: 7mm;
  display: grid;
  grid-template-columns: 19mm 10mm 10mm 10mm 10mm;
}

main .resume .right-page .motivation .commuting-time .commuting-time-line .input-field {
  text-align: right;
}

main .resume .right-page .motivation .dependents {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  border-bottom: 0.37mm solid #000;
  border-right: 1mm solid #000;
  display: grid;
  grid-template-rows: 6mm 9mm;
}

main .resume .right-page .motivation .dependents .dependents-line {
  line-height: 7mm;
  display: grid;
  grid-template-columns: 40mm 19mm;
}

main .resume .right-page .motivation .dependents .dependents-line p.input-field {
  text-align: right;
}

main .resume .right-page .motivation .marital-status {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border-right: 0.37mm solid #000;
  border-bottom: 1mm solid #000;
  display: grid;
  grid-template-rows: 6mm 9mm;
}

main .resume .right-page .motivation .marital-status .input-field {
  line-height: 7mm;
  text-align: center;
}

main .resume .right-page .motivation .obligation-to-support-spouse {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  border-right: 1mm solid #000;
  border-bottom: 1mm solid #000;
  display: grid;
  grid-template-rows: 6mm 9mm;
}

main .resume .right-page .motivation .obligation-to-support-spouse .label {
  font-size: 9pt;
}

main .resume .right-page .motivation .obligation-to-support-spouse .input-field {
  line-height: 7mm;
  text-align: center;
}

main .resume .right-page .objective {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1mm solid #000;
  border-bottom: 1mm solid #000;
  border-left: 1mm solid #000;
}

main .resume .right-page .objective p {
  padding: 1mm;
}

main .resume .right-page .objective p.label {
  height: 7.3mm;
  line-height: 4.3mm;
  font-size: 10pt;
  border-bottom: 1mm double #000;
}

main .resume .right-page .objective p.input-field {
  height: 43.8mm;
}

main #help-window {
  display: none;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  animation: fade 0.5s linear 0s;
  width: 90vw;
  height: 90vh;
  padding: 16px;
  border-radius: 24px;
}

main #help-window.show {
  display: block;
  z-index: 20;
}

main #help-window iframe {
  width: 100%;
  height: 100%;
}

main #help-window .help-close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 3px #333;
  background-color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
}

main #help-window .help-close::before {
  content: '';
  width: 30px;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
}

main #help-window .help-close::after {
  content: '';
  width: 30px;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(45deg);
}

footer {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
}

@media print {
  footer {
    display: none;
  }
}

@media print {
  main .resume {
    width: 182mm;
    grid-template-columns: 182mm;
  }
}

main .resume .right-page {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 200mm) {
  main .resume .right-page {
    border-left: none;
  }
}

@media print {
  main .resume .right-page {
    border: none;
  }
}
/*# sourceMappingURL=b5.css.map */