// page size
$resume-width: $a4-width * 2; //
$page-width: $a4-width; //
$page-height: $a4-height;//
// paper margin
$vertical-margin: 16mm; //
// ------------------------------------------------------------------------- //
// size & position of content
// ------------------------------------------------------------------------- //
$resume-t-cols: repeat(2, $page-width);
$content-width: $a4-width - $side-margin - $side-margin; // 176mm : 1.189189189
$field-line-hight: 8.5mm; //
$resume-header-margin-top: 1mm;
$resume-header-grid-t-cols: 42mm 92mm 42mm;
$h2-padding: 0 2mm;
$creataion-date-padding: 1mm;
$creataion-date-grid-t-cols: 13mm 3mm 5.5mm 3mm 5.5mm 9mm;
$id-photo-top-position: 17mm; //
$id-photo-right-position: 24mm;
$id-photo-width: 28mm;
$id-photo-height: 35.5mm;
$parsonal-data-label-padding: 0 1mm;
$parsonal-data-input-field-padding: 0 1mm;
$basic-data-grid-t-cols: 111mm 23mm 42mm; // 176mm
$basic-data-grid-t-tows: $field-line-hight 17mm $field-line-hight; // 34mm
$name-furigana-field-line-hight: $field-line-hight;
$name-furigana-grid-t-clos: 15mm 95mm; // 110mm
$name-line-height: 17mm; //
$name-grid-t-clos: $name-furigana-grid-t-clos;
$gender-height: $name-line-height + $field-line-hight;
$birthday-grid-t-clos: 19mm 47mm 5mm 9mm 5mm 9mm 18mm 10mm 10mm; // 132mm
$emergency-contact-grid-t-cols: 19mm 113.8mm 42.2mm; // 175mm
$emergency-contact-grid-t-rows: $field-line-hight 7mm 10mm; // 25.3mm
$resides-furigana-grid-t-cols: 18mm 113mm; // 131mm
$postal-code-grid-t-cols: 18mm 9mm 12mm 5mm 16mm 5mm;
$resides-height: 10mm; //
$resides-line-height: $resides-height;
$phone-number-grid-t-clos: 9mm 32mm; //41mm
$email-height: 17mm; //
$email-grid-t-cols: 41mm; //
$email-grid-t-rows: 6mm 11mm; //
$email-input-field-height: 10mm; // 
$email-input-field-line-height: 1.5em;
$resume-line-grid-t-cols: 26.5mm 14.5mm 133mm; // 174mm
$resume-line-p-padding: 0 1mm;
$resume-line-p-3th-cols-padding: 0 2mm;
$right-page-education-and-career-history-margin-top: $field-line-hight + 1mm;
$right-page-education-and-career-history-hedding-height: $field-line-hight + 1mm;
$motivation-grid-t-cols: 106mm 34.5mm 35.5mm; // 176mm
$motivation-rows-width: 17mm; //
$motivation-padding: 1mm;
$self-promotion-input-field-height: 44mm; //
$commuting-time-line-grid-t-cols: 24mm 10mm 10mm 10mm 15mm; // 69mm
$commuting-input-field-height: 9mm; //
$dependents-line-grid-t-cols: 50mm 19mm; //
$objective-p-padding: 1mm;
$objective-label-height: $field-line-hight;
$objective-line-height: 5.3mm; //
$objective-input-field-height: 50.2mm; //
// ------------------------------------------------------------------------- //
// @media screen Threshold [ 200mm＝96dpiだと756px | 237.07mm=96dpiで896px
// ------------------------------------------------------------------------- //
$two-page-breakpoint: 237mm;   //
$small-screen-breakpoin: 210mm; //