// * {
//   outline: 1px solid red;
// }
/* page styleing
---------------------------------------------------------------------------- */
html, body {
  scroll-behavior: smooth;
}
body {
  font-family: serif;
  *{
    box-sizing: border-box;
  }
  @include media-screen {
    background-color: $body-bg-color;
  }
}
header {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-bottom: $header-border;
  background-color: $base-color;
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: sans-serif;
  @include media-print {
    display: none;
  }
  .title {
    h1 {
      font-size: 24px;
      padding: 0;
      @include media-screen-break-two-page{
        font-size: 16px;
        line-height: 30px;
      }
      @include media-small-screen-break {
        display: block;
        font-size: 24px;
      }
    }    
    p {
      font-size: 10px;
      @include media-screen-break-two-page{
        display: none;
      }
    }
  }
  .menu-button {
    justify-self: right;
    width: 40px;
    height: 40px;
    display: none;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    position: relative;
    &::before {
      @include menu-button-decoration;
      top: -12px;
    }
    &::after {
      @include menu-button-decoration;
      top: 12px;
    }
    @include media-small-screen-break {
      display: block;
    }
  }
  #is-menu-show {
    display: none;
    @include media-small-screen-break {
      &:checked {
        +.menu-button {
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
        ~.menu {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 4px;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 4px;
          grid-auto-flow: row;
          position: absolute;
          top: 50px;
          right: 10px;
          padding: 8px;
          background-color: #fff;
          border: 1px solid #333;
          border-radius: 4px;
          box-shadow: 0 0 8px rgba(0,0,0,0.3);
        }
      }
    }
  }
  .menu {
    display: grid;
    grid:  1fr / auto-flow;
    column-gap: 10px;
    justify-self: end;
    align-items: center;
    @include media-small-screen-break {
      display: none;
    }
    .editing-switch {
      width: 40px;
      height: 40px;
      input {
        display: none;
        &:checked {
          +label {
            background-color: $enable-color;
            &::before {
              content: 'edit';
            }
            &::after {
              left: 22px;
            }
          }
        }
      }
      label {
        width: 40px;
        height: 20px;
        background-color: $disable-color;
        position:relative;
        top: 20px;
        display: inline-block;
        border-radius: 20px;
        transition: 0.4s;
        box-sizing: border-box;
        text-align: center;
        &::before{
          content: 'done';
          position: absolute;
          left: 0;
          right: 0;
          top: -20px;
          font-size: 14px;
          text-align: center;
        }
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: $base-color;
          box-shadow:$switch-toggle-shadow;
          transition: 0.4s;
          cursor: pointer;
        }
      }
    }
    .select-papersize {
      grid-column: 2 / 4;
      width: 90px;
      height: 40px;
      padding: 0;
      margin: 0;
      background-color: $base-color;
      option {
        height: 40px;
        padding: 0;
        margin: 0;
      }
    }
    >label { // importButton
      @include menuButtonStyle;
      img {
        margin: 7px; // 中央揃え
      }
      input {
        display: none;
      }
    }
    button {
      @include menuButtonStyle;
    }
  }
}
main {
  width: 100%;
  margin: 0 auto;
  font-size: 11pt;
  .resume {
    width: $resume-width;
    margin: 60px auto 10px;
    display: grid;
    grid-template-columns: $resume-t-cols;
    background-color: $base-color;
    border: $page-boder;
    @include media-print {
      margin: 0;
      border: none;
    }
    @include media-screen-break-two-page {
      width: $page-width;
      grid-template-columns: $page-width;
    }
    // 左のマージンを-にして左枠線から左位置を始める
    @include media-middle-screen-break {
      transform: translate(-$side-margin, 0);
    }
    .page {
      width: $page-width;
      height: $page-height;
      padding: $vertical-margin $side-margin;
      .input-field {
        overflow: hidden;
        br { // 表示自体はなんとかなるが、JavaScriptで入力時に改行を制限が必要
          white-space: nowrap; //　空白は詰める（改行もされない）
          display: none; // 改行すると<div><br></div>が生成されるので非表示にする
        }
        &.multiple-lines {
          line-height: 1.4em;
          br {
            white-space:normal;
            display: inline;
          }
        }
      }
    }
    .left-page {
      position: relative;
      .resume-header {
        width: $content-width;
        height: $field-line-hight;
        margin-top: $resume-header-margin-top;
        display: grid;
        grid-template-columns: $resume-header-grid-t-cols;
        align-items: center;
        h2 {
          font-size: $h2-font-size;
          text-align: left;
          padding: $h2-padding;
        }
        .creataion-date {
          padding: $creataion-date-padding;
          display: grid;
          grid-template-columns: $creataion-date-grid-t-cols;
          justify-self: end;
          align-self: flex-end;
          p {
            font-size: $creataion-date-font-size;
            &.label {
              text-align: center;
            }
            &.input-field {
              text-align: right;
            }
          }
        }
      }
      .id-photo {
        width: $id-photo-width;
        height: $id-photo-height;
        padding: $id-photo-font-size;
        position: absolute;
        top: $id-photo-top-position;
        right: $id-photo-right-position;
        border: $print-line-default;
        text-align: center;
        p{
          font-size: $id-photo-font-size;
          text-align: center;
          line-height: $id-photo-font-size;
          margin-bottom: $id-photo-font-size;
        }
        label {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          input {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img[src=""] {
            display: none;
          }
        }
        #contextmenu{
          display:none;
          position:fixed;
          left:0px;
          top:0px;
          width:100px;
          height:30px;
          border: $contextmenu-border;
          box-shadow: $contextmenu-shadow;
          background-color:$base-color;
          &.show {
            display: block;
            @include media-print {
              display: none;
            }
          }
          li {
            height: 30px;
            line-height: 30px;
            cursor:pointer;
            &:hover {
              background-color: $contextmenu-hover-color;
            }
          }
        }
      }
      .personal-data {
        p {
          &.label {
            text-align: left;
            align-self: center;
            padding: $parsonal-data-label-padding;
          }
          &.input-field {
            align-self: center;
            padding: $parsonal-data-input-field-padding;
          }
        }
        .basic-data {
          display: grid;
          grid-template-columns: $basic-data-grid-t-cols;
          grid-template-rows: $basic-data-grid-t-tows;
          .name-furigana {
            height: $name-furigana-field-line-hight;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: $name-furigana-grid-t-clos;
            border: {
              top: $print-line-bold;
              right: $print-line-default;
              bottom: $print-line-default;
              left: $print-line-bold;
            }
            p {
              &.label {
                grid-column: 1 / 2;
                font-size: $name-furigana-font-size;
              }
              &.input-field {
                grid-column: 2 / 3;
                font-size: $name-furigana-font-size;
              }  
            }
          }
          .name {
            height: $name-line-height;
            line-height: $name-line-height;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: $name-grid-t-clos;
            border: {
              right: $print-line-default;
              bottom: $print-line-default;
              left: $print-line-bold;
            }
            p {
              &.label {
                grid-column: 1 / 2;
              }
              &.input-field {
                grid-column: 2 / 3;
                text-align: center;
                font-size: $name-font-size;
              }
            }
          }
          .gender {
            height: $gender-height;
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            border: {
              top: $print-line-bold;
              right: $print-line-bold;
              bottom: $print-line-default;
            }
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            text-align: center;
            p {
              text-align: center;
            }
          }
          .birthday {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            border: {
              right: $print-line-bold;
              bottom: $print-line-default;
              left: $print-line-bold;
            }
            display: grid;
            grid-template-columns: $birthday-grid-t-clos;         
            align-items: center;
            p {
              &.input-field {
                text-align: right;
              }
            }
          }
        }
        .contact-info, 
        .emergency-contact{
          width: $content-width;
          display: grid;
          grid-template-columns: $emergency-contact-grid-t-cols;
          grid-template-rows: $emergency-contact-grid-t-rows;
          border: {
            left: $print-line-bold;
          }
          .resides-furigana {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            border: {
              right: $print-line-default;
              bottom: $print-line-default;
            }
            display: grid;
            grid-template-columns: $resides-furigana-grid-t-cols;
            font-size: $resides-furigana-font-size;
          }
          .postal-code {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            border: {
              right: $print-line-default;
            }
            display: grid;
            grid-template-columns: $postal-code-grid-t-cols;
            p {
              &.input-field {
                text-align: center;
              }
            }
          }
          .resides {
            height: $resides-height;
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            font-size: $resides-font-size;
            border: {
              right: $print-line-default;
              bottom: $print-line-default;
            }
            align-self: center;
            p.input-field {
              line-height: $resides-line-height;
            }
          }
          .phone-number {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
            border: {
              top: $print-line-bold;
              right: $print-line-bold;
              bottom: $print-line-default;
            }
            display: grid;
            grid-template-columns: $phone-number-grid-t-clos;
            p {
              &.label {
                font-size: $phone-number-label-font-size;
              }
              &.input-field {
                font-size: $phone-number-font-size;
              }  
            }
          }
          .e-mail {
            height: $email-height;
            grid-row: 2 / 4;
            grid-column: 3 / 4;
            display: grid;
            grid-template-columns: $email-grid-t-cols;
            grid-template-rows: $email-grid-t-rows;
            border: {
              right: $print-line-bold;
              bottom: $print-line-default;
            }
            p {
              &.label {
                font-size: $email-label-font-size;
              }
              &.input-field {
                text-align: center;
                font-size: $email-font-size;
                height: $email-input-field-height;
                line-height: $email-input-field-line-height;
              }  
            }
          }
        }
        .emergency-contact {
          .phone-number {
            border: {
              top: none;
            }
          }
          .e-mail {
            border: {
              bottom: $print-line-bold;
            }
          }
          .resides {
            border: {
              bottom: $print-line-bold;
            }
          }
        }
      }
      .education-and-career-history {
        .resume-line {
          @include resume-line;
        }
      }
    }
    .right-page {
      @include media-screen-break-two-page {
        border: {
          top: $page-boder;
        }
      }
      @include media-print {
        border: none;
      }
      .education-and-career-history {
        margin-top: $right-page-education-and-career-history-margin-top;
        .resume-line {
          @include resume-line;
          &:first-of-type {
            height: $right-page-education-and-career-history-hedding-height;
            border: {
              top: $print-line-bold;
            }
          }
        } 
      }
      .qualifications {
        .qualifications-line {
         @include resume-line;
        }
      }
      .motivation{
        display: grid;
        grid-template-columns: $motivation-grid-t-cols;
        grid-template-rows: repeat(3, $motivation-rows-width);
        p {
          padding: $motivation-padding;
        }
        .label {
          $motivation-label-font-size: 10pt;
        }
        .self-promotion {
          grid-row: 1 / 4;
          grid-column: 1 / 2;
          border: {
            right: $print-line-default;
            bottom: $print-line-bold;
            left: $print-line-bold;
          }
          p {
            &.input-field{
              height: $self-promotion-input-field-height;
            }
          }
        }
        .commuting-time {
          grid-row: 1 / 2;
          grid-column: 2 / 4;
          display: grid;
          grid-template-rows: $email-grid-t-rows;
          border: {
            right: $print-line-bold;
            bottom: $print-line-default;
          }
          .commuting-time-line {
            text-align: center;
            line-height: $commuting-input-field-height;
            display: grid;
            grid-template-columns: $commuting-time-line-grid-t-cols;
            .input-field {
              text-align: right;
            }
          }        
        }
        .dependents{
          grid-row: 2 / 3;
          grid-column: 2 / 4;
          border: {
            bottom: $print-line-default;
            right: $print-line-bold;
          }
          display: grid;
          grid-template-rows: $email-grid-t-rows;
          .dependents-line {
            line-height: $commuting-input-field-height;
            display: grid;
            grid-template-columns: $dependents-line-grid-t-cols;
            p {
              &.input-field {
                text-align: right;
              }
            }
          }
        }
        .marital-status {
          grid-row: 3 / 4;
          grid-column: 2 / 3;
          border: {
            right: $print-line-default;
            bottom: $print-line-bold;
          }
          display: grid;
          grid-template-rows: $email-grid-t-rows;   
          .input-field {
            line-height: $commuting-input-field-height;
            text-align: center;
          }
        }
        .obligation-to-support-spouse {
          grid-row: 3 / 4;
          grid-column: 3 / 4;
          border: {
            right: $print-line-bold;
            bottom: $print-line-bold;
          }
          display: grid;
          grid-template-rows: $email-grid-t-rows;
          .label {
            font-size: $obligation-to-support-spouse-label-font-size;
          }
          .input-field {
            line-height: $commuting-input-field-height;
            text-align: center;
          }
        }
      }
      .objective {
        display: grid;
        grid-template-columns: 1fr;
        border: {
          right: $print-line-bold;
          bottom: $print-line-bold;
          left: $print-line-bold;
        }
        p {
          padding: $objective-p-padding;
          &.label {
            height: $objective-label-height;
            line-height: $objective-line-height;
            font-size: $objective-label-font-size;
            border: {
              bottom: $print-line-double;
            }
          }
          &.input-field {
            height: $objective-input-field-height;
          }  
        }
      }
    }
  }
  #help-window {
    @include modalLayout;
    width: 90vw;
    height: 90vh;
    padding: 16px;
    border-radius: 24px;
    &.show {
      display: block;
      z-index: 20;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
    .help-close {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: $help-close-shadow;
      background-color: $base-color;
      position: absolute;
      top: -10px;
      right: -10px;
      &::before {
        @include helpCloseX;
        transform: rotate(-45deg);
      }
      &::after {
        @include helpCloseX;
        transform: rotate(45deg);
      }
    }
  }
}
footer {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  @include media-print {
    display: none;
  }
}