// ------------------------------------------------------------------------- //
// Color
// ------------------------------------------------------------------------- //
$base-color: #fff;
$font-color: #000;
$line-color: #000;
$body-bg-color: #eee;
$border-color: #333;
$enable-color: #4bd865;
$disable-color: #ccc;
$button-bg-color: #EFEFEF;
$button-border-color: #767676;
$contextmenu-hover-color: #9aa;
// ------------------------------------------------------------------------- //
// Border Line
// ------------------------------------------------------------------------- //
$header-border: 1px solid $border-color;
$print-dialog-border: 2px solid $line-color;
$contextmenu-border: 1px solid $border-color;
$print-line-bold: 1mm solid $line-color;
$print-line-middle: 0.7mm solid $line-color;
$print-line-default: 0.35mm solid $line-color;
$print-line-double: 1mm double $line-color;
$page-boder: 1px solid rgba(0, 0, 0, 0.5);
// ------------------------------------------------------------------------- //
// box-shadow
// ------------------------------------------------------------------------- //
$switch-toggle-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$help-close-shadow: 0 0 3px #333;
$modal-show-body-background:0 0 0 10000px rgba(0, 0, 0, 0.5);
$contextmenu-shadow:1px 1px 3px #333;
// ------------------------------------------------------------------------- //
// size of paper
// ------------------------------------------------------------------------- //
// A3: 420x297mm
$a3-width: 420mm;
$a3-height: 297mm;
// A4: 210x297mm
$a4-width: 210mm;
$a4-height: 297mm;
// B4: 364x257mm
$b4-width: 364mm;
$b4-height: 257mm;
// B5: 182×257mm
$b5-width: 182mm;
$b5-height: 257mm;
// page size
$page-width: $b5-width;
$page-height: $b5-height;
// paper margin
$side-margin: 17mm;  
$vertical-margin: 14mm;
// ------------------------------------------------------------------------- //
// size & position of content
// ------------------------------------------------------------------------- //
$content-width: $b5-width - $side-margin - $side-margin;
$field-line-hight: 7.3mm;
$resume-header-margin-top: 1mm;
$resume-header-grid-t-cols: 35mm 78mm 35mm;
$creataion-date-padding: 1mm;
$creataion-date-grid-t-cols: 13mm 3mm 5.5mm 3mm 5.5mm 8.5mm;
$id-photo-top-position: 14mm;
$id-photo-right-position: 21mm;
$id-photo-width: 28mm;
$id-photo-height: 35.5mm;
$parsonal-data-label-padding: 0 1mm;
$parsonal-data-input-field-padding: 0 1mm;
$basic-data-grid-t-cols: 94mm 19mm 35mm;
$basic-data-grid-t-tows: 7.3mm 15mm 7.3mm;
$name-furigana-field-line-hight: $field-line-hight;
$name-furigana-grid-t-clos: 15mm 78mm;
$name-line-height: 15mm;
$name-grid-t-clos: $name-furigana-grid-t-clos;
$gender-height:15mm + $field-line-hight;
$birthday-grid-t-clos: 19mm 26mm 5mm 9mm 5mm 9mm 18mm 10mm 10mm;
$emergency-contact-grid-t-cols: 19mm 92.5mm 35.5mm;
$emergency-contact-grid-t-rows: 7.3mm 6mm 9mm;
$resides-furigana-grid-t-cols: 18mm 92mm;
$postal-code-grid-t-cols: 18mm 9mm 12mm 5mm 16mm 5mm;
$resides-height: 9mm;
$resides-line-height: $resides-height;
$phone-number-grid-t-clos: 9mm 26mm;
$email-height: 15mm;
$email-grid-t-cols: 35mm;
$email-grid-t-rows: 6mm 9mm;
$email-input-field-height: 9mm;
$resume-line-grid-t-cols: 22.5mm 12.5mm 111mm; // 両脇枠線分2mm引き
$resume-line-p-padding: 0 1mm;
$resume-line-p-3th-cols-padding: 0 2mm;
$right-page-education-and-career-history-margin-top: 8.3mm;
$right-page-education-and-career-history-hedding-height: 8.3mm;
// ------------------------------------------------------------------------- //
// size of font
// ------------------------------------------------------------------------- //
$h2-font-size: 17pt;
$creataion-date-font-size: 8pt;
$id-photo-font-size: 8pt;
$name-furigana-font-size: 9pt;
$name-font-size: 17pt;
$resides-furigana-font-size: 9pt;
$resides-font-size: 11pt;
$phone-number-label-font-size: 9pt;
$phone-number-font-size: 8pt;
$email-label-font-size: 9pt;
$email-font-size: 9pt;

// ------------------------------------------------------------------------- //
// @media screen Threshold 
// ------------------------------------------------------------------------- //
$two-page-breakpoint: 200mm;