@import "reset";
@import "common-variable";
@import "a-variable";
@import "mixin";
@import "style";

main {
  .resume {
    @include media-print {
      width: $page-width;
      grid-template-columns: $page-width;
    }
    .left-page {
      border: {
        right: $page-boder;
      }
      @include media-screen-break-two-page {
        border: {
          right: none;
        }
      }
      @include media-print {
        border:  none;
      }
    }
  }
}