// reset
// --------------------------------------------------------------- //
html, body, h1, h2, h3, dl, dt, dd ,label{
  margin: 0;
  padding: 0;
  line-height: 1.0;
}
p {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
// Help Page Sytle
// --------------------------------------------------------------- //
body {
  padding: 10px;
  ul {
    margin: {
      left: 2em
    };
    li {
      line-height: 1.5em;
    }
  }
  p {
    line-height: 2em;
    margin: {
      left: 2em
    }
  }
  h1 {
    text-align: center;
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }
  section {
    h2 {
      display: none;
    }
    label {
      display: block;
      background-color: #f0f8ff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      padding: 6px;
      margin: 10px 0;
    }
    .description {
      display: none;
      margin-bottom: 40px;
    }
    h3 {
      border: {
        left: 10px solid #b0c4de;
      }
      padding: 6px;
      margin: {
        top: 20px;
        bottom: 10px;
        left: 1em;
      }
    }
    input {
      display: none;

      &:checked + .description  {
        display: block
      }
    }
    .commentary-image {
      margin: {
        top: 10px;
        left: 2em;
        bottom: 10px;
      };
      width: 500px;
      &.animation::after {
        font-size: 12px;
        content: '画像をクリックするとアニメーションで確認できます。';
      }
      &.small {
        width: 200px;
      }
    }
  }
}
