/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   
  1280-1024   - desktop (default grid)
    container-width: 960px

  1024-768    - tablet landscape
    container-widht: 100%;

  768-480     - tablet 
    container-widht: 100%;

  480-less    - phone landscape & smaller
    container-widht: 100%;
--------------------------------------------*/

$dl-border: 1px solid #333;